{% extends 'dashboardhome/template.html' %}

{% block content %}
{% load static %}

<div class="row mb-3"><a href="{% url 'boards' %}" class="card-title mb-3"><i class="ti ti-arrow-left"></i> back</a></div>

<div class="row mb-3">
    <div class="col-lg-4">
        {% if board.image %}
            <img src="{{ board.image.url }}" alt="" class="card-img-top rounded" style="height: 100%; width: 100%;">
        {% else %}
            <img src="https://images.unsplash.com/photo-1616001089004-04948fc0e6c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80" class="card-img-top rounded" alt="default image" style="height: 100%; width: 100%;">
        {% endif %}
    </div>
    <div class="col-auto align-bottom">
        <div class="row">
            <h2 class="fw-bold fs-11 text-info">{{board.title}} </h2>
        </div>
        <div class="row">
            <p class="text-muted">{{board.description}}</p>
        </div>
        <div class="row">
            <p class="text-muted">{% if profile.name %}{{profile.name}}{% else %}Unknown Author{% endif %} &#x2022; {{board.created_date|date:"d.m.Y"}} </p>
        </div>

        <p>{% if board.public %} <span class="alert alert-success p-1 px-2 m-0">Public</span> {% else %} <span class="alert alert-info p-1 px-2 m-0">Private</span> {% endif %}</p>
        <!-- Set public -->
        <form method=POST>
            {% csrf_token %}
            {% if board.public %}
                <input type="submit" class="btn btn-dark" value="Make private" name="make_board_private">
            {% else %}
                <input type="submit" class="btn btn-dark" value="Make public" name="make_board_public">
            {% endif %}
        </form>
        
    </div>
</div>
<div class="row mb-4 ms-1">
    <a type="button" data-bs-toggle="modal" data-bs-target="#AddBookmarkModal" class="btn btn-success col-lg-2 col-md-2">+ Bookmark</a>  
    <form method=POST>
        {% csrf_token %}
        <div class="modal fade" id="AddBookmarkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add new bookmark.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <!-- inputs -->
                <label class="form-label">Title</label>
                <input type="text" name="new_bookmark_title" class="form-control mb-2" placeholder="Bookmark title">
                <label class="form-label">URL</label>
                <input type="text" name="new_bookmark_address" class="form-control mb-2" placeholder="URL link *" required>      
                <label class="form-label">Notes</label>
                <textarea name="new_bookmark_notes" rows="4" cols="28" class="form-control mb-2" placeholder="Notes"></textarea>

                <div class="row text-center d-flex justify-content-center">
                <div class="col-auto">
                    <input class="btn btn-success text-center" type="submit" name="submit_new_bookmark" value="Submit">
                    <button type="button" class="btn btn-outline-link" data-bs-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </form>
</div>
<div class="row">
    
    <form method=POST>
        {% csrf_token %}
        <button class="btn btn-outline-light fs-4 card-title" type="submit" name="delete_selected_bookmarks"><i class="ti ti-trash"></i> Delete selected</button>
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <!-- <h5 class="card-title fw-semibold mb-4">Bookmarks</h5> -->
                    <div class="table-responsive">
                        <table class="table text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Check</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Favicon</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Title</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Shortened address">Address</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Note</h6>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for bookmark, url in bookmarks %}
                                <tr class="border-bottom">

                                        <td class="border-bottom-0">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1" value="{{bookmark.id}}" name="bookmarks_checked_to_delete">
                                            </div>
                                        </td>
                                    
                                    <!-- Make address colours changeable -->
                                    <!-- ---------------------------- -->
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0 text-start">
                                            <a href="{{bookmark.address}}">
                                                <img class="img-thumbnail me-3" height="100%" width="30px" src="/get_favicon?url={{bookmark.address}}" onerror=" this.style.display='none' " alt=" ">
                                            </a>
                                        </h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="row">
                                            <div class="col-auto d-flex align-items-center"><a href="{{bookmark.address}}">   <h6 class="fw-semibold mb-1">{{bookmark.title}}</h6></a></div>
                                            <div class="col-auto d-flex align-items-center"><a type="button" data-bs-toggle="modal" data-bs-target="#EditBookmarkModal{{ bookmark.id }}" class="card-title"><i class="ti ti-edit fs-6 me-2"></i></a></div>

                                        </div>
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-2">
                                            <a href="{{bookmark.address}}" target="_blank"><span class="badge bg-info rounded-3 fw-semibold">{{url}}</span></a>
                                        </div>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal">{{bookmark.note}}</p>
                                    </td>
                                    <form method=POST>
                                    {% csrf_token %}
                                        <div class="modal fade" id="EditBookmarkModal{{ bookmark.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit bookmark.</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    
                                                    <!-- inputs -->
                                                    <label class="form-label">Title</label>
                                                    <input type="text" name="new_bookmark_title" class="form-control mb-2" placeholder="Bookmark title" value="{{bookmark.title}}">
                                                    <label class="form-label">URL</label>
                                                    <input type="text" name="new_bookmark_address" class="form-control mb-2" placeholder="URL link *" required value="{{bookmark.address}}">      
                                                    <label class="form-label">Notes</label>
                                                    <textarea name="new_bookmark_notes" rows="4" cols="28" class="form-control mb-2" placeholder="Notes">{{bookmark.note}}</textarea>
                                                    <input type="hidden" value="{{bookmark.id}}" name="bookmark_id">
                                
                                                    <div class="row text-center d-flex justify-content-center">
                                                    <div class="col-auto">
                                                        <input class="btn btn-success text-center" type="submit" name="edit_selected_bookmark" value="Submit">
                                                        <button type="button" class="btn btn-outline-link" data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}