{% extends './template.html' %}

{% block content %}
{% load static %}

<div class="card mb-lg-3">
  <div class="card-body p-4">
    <button type="button" class="btn btn-outline-primary m-1">Primary</button>
    <button type="button" class="btn btn-outline-secondary m-1">Secondary</button>
    <button type="button" class="btn btn-outline-success m-1">Success</button>
    <button type="button" class="btn btn-outline-danger m-1">Danger</button>
    <button type="button" class="btn btn-outline-warning m-1">Warning</button>
    <button type="button" class="btn btn-outline-info m-1">Info</button>
    <button type="button" class="btn btn-outline-light m-1">Light</button>
    <button type="button" class="btn btn-outline-dark m-1">Dark</button>
    <button type="button" class="btn btn-outline-link m-1">Link</button>
  </div>
</div>
<div class="row">
  <div class="col-4 overflow-auto vh-100 scroll-sidebar " data-simplebar="">
    
    <div class="row"> <!-- start card -->
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text overflow-hidden" style="height: 75px; ">
              Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content.  Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content. 
            </p>
            <a href="#" class="card-link">View note</a>
            <a href="#" class="card-link">Edit note</a>
          </div>
        </div>
      </div>
    </div> <!-- end card -->
    
    
    <div class="row"> <!-- start card -->
      <div class="col-12">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text overflow-hidden" style="height: 75px; ">
              Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content.  Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content. 
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div> <!-- end card -->

    <div class="row"> <!-- start card -->
      <div class="col-12">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text overflow-hidden" style="height: 75px; ">
              Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content.  Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content. 
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div> <!-- end card -->

    <div class="row"> <!-- start card -->
      <div class="col-12">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text overflow-hidden" style="height: 75px; ">
              Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content.  Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content. 
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div> <!-- end card -->

    <div class="row"> <!-- start card -->
      <div class="col-12">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text overflow-hidden" style="height: 75px; ">
              Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content.  Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content. 
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div> <!-- end card -->

    <div class="row"> <!-- start card -->
      <div class="col-12">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text overflow-hidden" style="height: 75px; ">
              Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content.  Some quick example text to build on the card title and make up the bulk of the
              card's content. Some quick example text to build on the card title and make up the bulk of the
              card's content. 
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div> <!-- end card -->

    
    
  </div> <!-- end of scroll column -->

  <!-- note form -->
  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="ti ti-edit fs-6"></i> Edit your notes here </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
          the
          card's content.
        </p>
        <form action="" method="">
          <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
  var simplemde = new SimpleMDE({ element: document.getElementById("exampleFormControlTextarea1") });
</script>
{% endblock %}