<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Webpin | Organise your life</title>
  {% load static %}
  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/webpin-logo.svg' %}" />
  
  
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">

</head>

<body>
  <div class="container-fluid">
    
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-primary" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    
    {% block content %}{% endblock %}
    
  </div>

  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
</body>

</html>