{% extends 'dashboardhome/template-nosidebar.html' %}
{% block content %}
{% load static %}
  <!--  Body Wrapper -->
  <!-- <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed"> -->
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="{% url 'home' %}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'images/logos/webpin.jpg' %}" width="180" alt="">
                </a>
                <p class="text-center">Organise your life</p>
                <form method=POST>
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                  </div>

                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <a class="text-primary fw-bold" href="#">Forgot Password ?</a>
                  </div>

                  <!-- <a href="./index.html" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</a> -->
                  <input type="submit" value="Login" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">
                  
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">New to Webpin?</p>
                    <a class="text-primary fw-bold ms-2" href="{% url 'register_user' %}">Create an account</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
{% endblock %}